# 官方资料
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >-
  readability-identifier-naming,      # 命名规范相关
  # clang-analyzer-*                  # 静态分析相关
  bugprone-*,                         # 常见错误相关
  readability-redundant-*,            # 可读性相关
  readability-misplaced-array-index,  # 数组下标相关
  readability-misplaced-pointer       # 指针相关

CheckOptions:
  # 类命名
  readability-identifier-naming.ClassCase: 'aNy_CasE'
  readability-identifier-naming.ClassPrefix: 'DFRobot_'

  readability-identifier-naming.MemberCase: 'camelBack'
  readability-identifier-naming.PrivateMemberPrefix: '_'
  readability-identifier-naming.ProtectedMemberPrefix: '_'

  # 普通变量命名
  readability-identifier-naming.VariableCase: 'camelBack'
  readability-identifier-naming.PointerVariableCase: 'camelBack'
  readability-identifier-naming.PointerVariablePrefix: 'p'

  # 函数命名
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.MethodCase: 'camelBack'

  # 宏命名
  # readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.MacroCase: 'UPPER_CASE'
  readability-identifier-naming.MacroPrefix: '__'

  # 结构体命名
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.StructPrefix: 's'
  readability-identifier-naming.StructSuffix: '_t'

  # 枚举
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumSuffix: '_t'
  readability-identifier-naming.EnumPrefix: 'e'
  readability-identifier-naming.EnumConstantCase: 'CamelCase'
  readability-identifier-naming.EnumConstantPrefix: 'e'

  # 全局变量
  readability-identifier-naming.GlobalVariableCase: 'camelBack'

  readability-identifier-naming.IgnoreFailedSplit: 'true'
